<div *ngIf="selectedMovie">
  <div class="container image-detail">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <img src="{{image_base_url}}{{selectedMovie.poster_path}}" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-12">
        <h1>{{selectedMovie.title}}</h1>
        <p>{{selectedMovie.overview}}</p>
        <h2>Vote average:{{selectedMovie.vote_average | number}}</h2>
        <h2>Release date:{{selectedMovie.release_date | date}}</h2>
      </div>
    </div>
  </div> 
</div>